alembic==1.17.2
asyncpg==0.31.0
fastapi==0.137.2
python-dotenv==1.2.2
python-jose[cryptography]==3.5.0
redis==7.1.0
requests==2.33.0
sqlalchemy==2.0.45
strawberry-graphql[fastapi]==0.315.7
uvicorn[standard]==0.38.0
influxdb_client==1.49.0
pytest==9.0.3
pytest-asyncio==1.4.0
pytest-cov==7.1.0
aiosqlite==0.20.0
httpx==0.27.2
