@import 'tailwindcss';

@import '@helpwave/hightide/style/uncompiled/globals.css';
@import "./colors.css";
@source "./node_modules/@helpwave/hightide";

@theme {
  /* Default Color Overwrites */
  --color-background: #EEEEEE;
  --color-foreground: #000000;

  /* Header */
  --color-header-background: #E7E7E7;
  --color-header-text:  #000000;

  /* Sidebar */
  --color-sidebar-background: #E7E7E7;
  --color-sidebar-text:  #000000;

  /* TaskModalSidebar */
  --color-task-modal-sidebar-background: var(--color-surface-variant);
  --color-task-modal-sidebar-text: var(--color-on-surface);
}

@layer base {
  /* Here are overrides for the light theme */
  @variant dark {
    /* Header */
    --color-header-background: var(--color-black);
    --color-header-text: var(--color-white);

    /* TwoColumn */
    --color-twocolum-background: #363636;
    --color-twocolum-text: var(--color-description);
  }
}

@layer components {
  body {
    @apply w-screen max-w-screen h-screen max-h-screen overflow-hidden;
  }
}