@import 'tailwindcss';

@import '@helpwave/hightide/style/uncompiled/globals.css';
@source "./node_modules/@helpwave/hightide";

@theme {
  /* Default Color Overwrites */
  --color-background: #FFFFFF;
  --color-foreground: #000000;

  --color-surface: #EEEEEE;

  /* Header */
  --color-header-background: #E7E7E7;
  --color-header-text:  #000000;

  /* Sidebar */
  --color-sidebar-background: #E7E7E7;
  --color-sidebar-text:  #000000;

  /* Colors */
  --color-todo-background: var(--color-tag-red-background);
  --color-todo-text: var(--color-tag-red-text);
  --color-todo-icon: var(--color-tag-red-icon);

  --color-inprogress-background: var(--color-tag-yellow-background);
  --color-inprogress-text: var(--color-tag-yellow-text);
  --color-inprogress-icon: var(--color-tag-yellow-icon);

  --color-done-background: var(--color-tag-green-background);
  --color-done-text: var(--color-tag-green-text);
  --color-done-icon: var(--color-tag-green-icon);

  /* TaskModalSidebar */
  --color-task-modal-sidebar-background: var(--color-surface-variant);
  --color-task-modal-sidebar-text: var(--color-on-surface);
}

@layer base {
  /* Here are overrides for the light theme */
  @variant dark {
    /* Header */
    --color-header-background: var(--color-black);
    --color-header-text: var(--color-white);

    /* TwoColumn */
    --color-twocolum-background: #363636;
    --color-twocolum-text: var(--color-description);
  }
}

@layer components {
  #__next, body {
    @apply w-screen max-w-screen h-screen max-h-screen overflow-hidden;
  }

  /* Need for development to move the next portal properly out of the body */
  nextjs-portal {
    @apply left-0 bottom-0 ml-16 text-[1.5em] mb-[0.5em];
  }
}