@import 'tailwindcss';

@import "@helpwave/hightide/style/uncompiled/globals.css";
@import "./style/index.css";
@source "./node_modules/@helpwave/hightide";

@layer components {
  body {
    @apply w-screen max-w-screen h-screen max-h-screen overflow-hidden;
  }
}