@import 'tailwindcss';

@import "./style/colors.css";
@import "@helpwave/hightide/style/uncompiled/globals.css";
@source "./node_modules/@helpwave/hightide";

@layer components {
  body {
    @apply w-screen max-w-screen h-screen max-h-screen overflow-hidden;
  }

  *:focus-visible:focus-visible {
    @apply focus-style-none;
  }
}

@utility input-element {
  @apply border-border;
}