@import "tailwindcss";

@import "./node_modules/@helpwave/hightide/dist/style/uncompiled/globals.css";
@import "./style/index.css";
@source "./node_modules/@helpwave/hightide";

@layer components {
  body {
    @apply w-screen max-w-screen min-h-dvh h-dvh max-h-dvh overflow-hidden;
    padding-top: max(0px, env(safe-area-inset-top));
    padding-bottom: max(0px, env(safe-area-inset-bottom));
    padding-left: max(0px, env(safe-area-inset-left));
    padding-right: max(0px, env(safe-area-inset-right));
  }

  [data-name="app-sidebar-container"] {
    @apply desktop:min-w-68 desktop:max-w-68;
  }

  [data-name="tab-list"] {
    @apply !mb-2; /* TODO remove this at some point*/
  }

  [data-name="table-container"][data-page-scroll] {
    overflow: visible;
    border-width: 0;
    border-radius: 0;
  }

  [data-name="table-container"][data-page-scroll] [data-name="table-header-cell"],
  [data-name="table-container"][data-page-scroll] [data-name="table-body-cell"],
  [data-name="table-container"][data-page-scroll] [data-name="table-body-filler-cell"] {
    border-radius: 0;
  }

  [data-name="table-container"][data-page-scroll] [data-name="table-header-cell"][data-sticky] {
    border-top: 2px solid var(--color-border);
  }

  [data-name="table-container"][data-page-scroll] [data-name="table-header-cell"][data-sticky]:first-child,
  [data-name="table-container"][data-page-scroll] [data-name="table-body-cell"]:first-child,
  [data-name="table-container"][data-page-scroll] [data-name="table-body-filler-cell"]:first-child {
    border-left: 2px solid var(--color-border);
  }

  [data-name="table-container"][data-page-scroll] [data-name="table-header-cell"][data-sticky]:last-child,
  [data-name="table-container"][data-page-scroll] [data-name="table-body-cell"]:last-child,
  [data-name="table-container"][data-page-scroll] [data-name="table-body-filler-cell"]:last-child {
    border-right: 2px solid var(--color-border);
  }

  [data-name="table-container"][data-page-scroll] [data-name="table-body-row"]:last-child > [data-name="table-body-cell"],
  [data-name="table-container"][data-page-scroll] [data-name="table-body-filler-row"]:last-child > [data-name="table-body-filler-cell"] {
    border-bottom: 2px solid var(--color-border);
  }
}

@layer utilities {
  .hw-touch-scroll {
    -webkit-overflow-scrolling: touch;
  }
}
